<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
	<!-- <servlet>
		<servlet-name>JBrownInitializer</servlet-name>
		 <servlet-class>com.jbrown.web.servlet.JBrownInitializer</servlet-class>
		 <load-on-startup>1</load-on-startup>
	</servlet>	-->
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
   
	<servlet>
	   <servlet-name>api</servlet-name>
	   <servlet-class>
	     org.springframework.web.servlet.DispatcherServlet
	   </servlet-class>
	   <load-on-startup>3</load-on-startup>
	</servlet>

   <!--  servlet>
	   <servlet-name>jpg0</servlet-name>
	   <servlet-class>
	     com.jbrown.web.servlet.ImageServlet
	   </servlet-class>
	   <load-on-startup>3</load-on-startup>
    </servlet -->
   
	<!-- servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping -->

	<servlet-mapping>
	   <servlet-name>api</servlet-name>
	   <url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<!--  servlet-mapping>
	   <servlet-name>jpg0</servlet-name>
	   <url-pattern>/image/jpg</url-pattern>
	</servlet-mapping -->
			
	<listener>
		  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	 
	<context-param>
		  <param-name>contextConfigLocation</param-name>
		  <param-value>
			  /WEB-INF/mvc-dispatcher-servlet.xml 
			  /WEB-INF/spring-security.xml
			  /WEB-INF/brown_context.xml
		  </param-value>
	</context-param>
 
 
 <!-- Basic Brown filter begin-->
    
   <filter>
     <filter-name>appFilter</filter-name>
     <filter-class>
         org.springframework.web.filter.DelegatingFilterProxy
     </filter-class>
     <init-param>
       <param-name>targetBeanName</param-name>
       <param-value>brownFilter</param-value>
     </init-param>   
   </filter>
   
   <filter-mapping>
    <filter-name>appFilter</filter-name>
    <url-pattern>/api/ws/*</url-pattern>
   </filter-mapping>
 <!-- Basic Brown filter end -->
 
 
 <!-- Spring Security Setting -->
	<filter>
		   <filter-name>springSecurityFilterChain</filter-name>
		   <filter-class>
                  org.springframework.web.filter.DelegatingFilterProxy
     </filter-class>
	</filter>
 
	<filter-mapping>
		  <filter-name>springSecurityFilterChain</filter-name>
		  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!--  Google App Engine setting -->
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
</web-app>